<h2> Add Workout </h2>
<form>
  <div>
    Title : <input type="text"  name="title" />
  </div>
  <div>
      Note : <textarea ng-model=""  name="title" ></textarea>
  </div>
  <div>
      Calories Burned Per Minute : <input type="text" name="cal" />
      <input type="button" name="plus" value="+" />
      <input type="button" name="minus" value="-" />
  </div>
  <div>
      Category : 
        <select>
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>
  </div>
</form>
